@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

/*
Table of Contents
	1. Standard styling
	2. Default elements
	3. Buttons
	4. Ranges
	5. Settings
	6. Inputs
	7. Responsiveness
*/

/* 1. Standard styling */

:root {
	--background: #d4d1d0;
	--primary: #f2f2f2;
	--secondary: #2674cf;
	--accent-one: #edeae8;
	--font-one: #edeae8;
	--font-two: #5b5f63;
	--warning-one: #db2703;
	--warning-two: #f12b03;
	--success: #4da539;
}

*,
*::before,
*::after {
	border: none;
	color: var(--font-two);
	transition:
		color .2s ease-in,
		border .2s ease-in,
		background .2s ease-in;
	font-family: 'Mukta', sans-serif;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

*::selection {
	background: none;
}

/* 2. Default elements */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 85vw;
	gap: 0.7rem;
}

/* 3. Buttons */

.movement {
	display: grid;
	grid-template-areas:
		'btn-up btn-down'
		'ranges ranges'
		'settings settings';
	gap: .25rem;
	grid-area: control-btns;
	grid-template-rows: 4.5rem;
	height: 10rem;
}

.btn {
	background: var(--primary);
}

.btn:hover {
	background: var(--accent-one);
}

.btn.main {
	font-size: 2.5rem;
}

.btn.up {
	grid-area: btn-up;
}

.btn.down {
	grid-area: btn-down;
}

.btn-set-time {
	grid-area: btn-set-time;
}

.active-stop {
	grid-area: active-stop;
	display: grid;
	grid-template-areas:
		'x y';
	grid-template-columns: 66% 33%;
	gap: .25rem;
}

.btn-stop {
	background: var(--warning-one);
	color: var(--font-one);
}

.btn-stop:hover {
	background: var(--warning-two);
}

.btn-active[value=true] {
	background: var(--success);
	color: var(--font-one)
}

.active-stop > * {
	padding: 0.5rem;
}

/* 4. Ranges */

.ranges {
	grid-area: ranges;
	display: grid;
	grid-template-columns: 33%;
	grid-template-areas:
		'a b c';
	gap: .25rem;
}

/* 5. Settings */

.settings-header {
	text-align: left;
	background: var(--primary);
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	padding: 0.3rem;
	margin-bottom: 0.5rem;
}

.settings-header * {
	line-height: 1;
	font-size: 18px;
}

.settings-body {
	display: none;
}

.settings {
	grid-area: settings;
	display: flex;
	flex-direction: column;
}

input[type='time'],
input[type='number'] {
	background: var(--accent-one);
	border-radius: 5px;
	width: 50%;
	text-align: center;
}

.settings-body tfoot span {
	display: inline-flex;
	gap: 1.5rem;
}

td {
	display: inline-flex;
	width: 50%;
	justify-content: space-evenly;
}

*:focus-visible {
	outline: none;
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
}

label.range {
	padding: 2rem 0;
}

.settings-btn {
	padding: .5rem;
}

/* 6. Inputs */

input {
	display: block;
	background: transparent;
}

:is(label.range, .btn, .btn.down, .btn.up) {
	border-radius: 5px;
	cursor: pointer;
}

input[type='radio'] {
	position: absolute;
	left: -100vw;
}

input[type='radio'] + label.range {
	line-height: 140%;
	font-weight: 700;
	text-align: center;
	background: var(--primary);
}

input[type='radio']:hover + label.range {
	text-align: center;
	background: var(--accent-one);
}

input[type='radio']:checked + label.range {
	background: var(--secondary);
	color: var(--font-one);
}

.inverted {
	cursor: pointer;
	position: relative;
	appearance: none;
	width: 50px;
	height:	25px;
	background: var(--primary);
	border-radius: 25px;
}

.inverted::before {
	content: '';
	transition: all .25s ease-in;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: var(--font-two);
	border-radius: 15px;
	position: absolute;
	top: 5px;
	left: 5px;
}

.inverted:checked::before {
	margin-left: 25px;
	background: var(--secondary);
}

/* 7. Responsiveness */

/* Desktop */
@media only screen and (min-width: 1200px) {
	main {
		display: grid;
		grid-template-areas:
			'btn-main control-btns'
			'btn-main control-btns'
			'active-stop active-stop'
			'settings settings';
		grid-template-columns: 30% 1fr;
		width: 50vw;
	}

	.main {
		height: 10rem;
	}
}