{# TODO: Implement some kind of authorization or lock mechanism to avoid anyone controlling
the blinds - physical? #} {# TODO: implement settings/calibration (window height, etc) #}
<!DOCTYPE html>
<html lang="cs" data-theme="light">

<head>
	<meta charset="UTF-8" />
	<meta name="theme-color" content="#222" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet" />
	<script src="{{ url_for('static', filename='script.js') }}" defer></script>
	<title>Blinds controller</title>
</head>

<body>
	<h1>Blinds controller</h1>
	<main>
		<button id="btn-main" class="btn main" {% if open %} value="true" {% else %} value="false" {% endif %} name="open">
			{% if open %}
			Close
			{% else %}
			Open
			{% endif %}
		</button>
		<div class="movement">
			<button id="movement" class="btn up" name="move">
				<span class="material-icons">arrow_upward</span>
			</button>
			<button id="movement" class="btn down" name="move">
				<span class="material-icons">arrow_downward</span>
			</button>
			<div class="ranges">
				<div class="range">
					<input type="radio" name="range" id="1cm" checked value="1" />
					<label class="range" for="1cm">1cm</label>
				</div>
				<div class="range">
					<input type="radio" name="range" id="10cm" value="10" />
					<label class="range" for="10cm">10cm</label>
				</div>
				<div class="range">
					<input type="radio" name="range" id="50cm" value="50" />
					<label class="range" for="50cm">50cm</label>
				</div>
			</div>
		</div>
		<div class="active-stop">
			<button id="active" class="btn-active btn" {% if active %} value="true" {% else %} value="false" {% endif %} name="active">
				{% if active %}
				Turn off
				{% else %}
				Turn on
				{% endif %}
			</button>
			<button id="stop" class="btn-stop btn" value="true" name="stop">
				Stop
			</button>
		</div>
		<div class="settings">
			<header class="settings-header" id="settings-toggler">
				<span class="material-icons" id="header-icon">expand_more</span> Settings
			</header>
			<table class="settings-body" id="settings">
				<tr>
					<td>
						Open at
					</td>
					<td>
						<input id="open-time" type="time" name="open_time" value="{{open_time}}" required />
					</td>
				</tr>
				<tr>
					<td>
						Close at
					</td>
					<td>
						<input id="close-time" type="time" name="close_time" value="{{close_time}}" required />
					</td>
				</tr>
				<tr>
					<td>
						Rotations per 1 cm
					</td>
					<td>
						<input type="number" name="steps_per_1cm" value="{{ steps_per_1cm }}" min="1" required>
					</td>
				</tr>
				<tr>
					<td>
						Window height in cm
					</td>
					<td>
						<input type="number" name="window_height_cm" value="{{ window_height_cm }}" min="1" required>
					</td>
				</tr>
				<tr>
					<td>
						Inverted
					</td>
					<td>
						<input type="checkbox" class="inverted" title="" name="inverted" required>
					</td>
				</tr>
				<tfoot>
					<tr>
						<td colspan="2">
							<span>
								<button id="settings-save" class="btn settings-btn">Save</button>
								<button id="settings-reset" class="btn settings-btn">Reset to default</button>
							</span>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</main>
</body>

</html>